
body {
    background: khaki;
}

img {
    width: 49%;
}

header h1 {
    font-size: 64px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

button {
    display: block;
}

form {
    margin: 4em 0;
}

input {
    display: block;
    margin-bottom: 1em;
}

nav {
    margin: 1em 0;
    text-align: center;
}

header a {
    padding: 0.5em 3em;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    background: rgb(213, 212, 164);
}


header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    padding-bottom: 2em;
}



.error {
    color: red;
    background: pink;
    border: 1px solid;
    padding: 0.5em;
    border-radius: 5px;
    display: inline-block;
}

.success {
    color: green;
    background: lightgreen;
    border: 1px solid;
    padding: 0.5em;
    border-radius: 5px;
    display: inline-block;
}





@media (max-width: 600px) {
    header a {
        display: block;
        margin: 0.5em auto;
        width: 40%;
    }
}

@media (hover: none) {
    header a {
        text-decoration: underline;
        background: rgb(213, 212, 164);
    }
}